{% extends 'main/base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert alert-success text-center">
          <h2>Parol muvaffaqiyatli tiklandi!</h2>
          <p>Parolingiz muvaffaqiyatli yangilandi. Endi yangi parolingiz bilan tizimga kirishingiz mumkin.</p>
        </div>
        <div class="text-center">
          <a href="{% url 'login' %}" class="btn btn-primary">Tizimga kirish</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
